$sidebar-width: 260px;
$top: 60px;
$note-info-width: 315px;
$padding: 16px;

$light-border: #E7E7E7;
$light-text: white;
$dark-text: black;
$light-background: white;
$dark-background: black;
$primary: #044974;
$secondary: #3D3C40;
$accent: #eebf3f;
$online: #38978D;
$offline: #9f9f9f;
$idle: lighten($primary, 15%);
$white: #FFFFFF;
$grey-dark: #999;
$grey-light: #eee;
$text-color: #222;
$landing-background: #17baef;
