.note-content-scroll > .inspiration {
  text-align: center;
  width: 100%;
  padding: 10px;
  background-color: #e2f1d4;
  margin-bottom: 20px;
  p {
    margin-bottom: 0;
  }
}

.stat-panel {
  div {
    text-align: center;
  }
}
