<template name="search">
    <header class="note-header">
      <i class="fa fa-search" style="float: left;"></i>
      {{> EasySearch.Input index=pointsIndex attributes=inputAttributes}}
    </header>

    <div class="note-content">
      <ul class="note-content-scroll search-results">
        {{#EasySearch.Each index=pointsIndex }}
          {{> point this}}
        {{/EasySearch.Each}}
      </ul>

      {{> EasySearch.LoadMore index=pointsIndex}}

      {{#EasySearch.IfNoResults index=pointsIndex}}
        <div class="no-results">No results found!</div>
        {{> newNote}}
      {{/EasySearch.IfNoResults}}
    </div>
</template>
