<template name="leftSidebar">
  <aside class="left-sidebar">
    <div class="team">
      <span class="left-sidebar-title">
          Encyclopad
      </span>
    </div>

    {{> favoriteNotes}}

    {{> recentNotes}}

    <div class="left-sidebar-user-dropdown hidden">
      <div class="header-item">
        <hr/>
        <span class="header-item-content">For me</span>
      </div>
      <ul class="menu-items">
        <li class="menu-item"><a href="#" class="sign-out">Sign out</a></li>
      </ul>
      <div class="header-item">
        <hr/>
        <span class="header-item-content">Stats</span>
      </div>
      <ul class="menu-items">
        <li class="menu-item">{{currentUser.profile.wordCount}}</li>
      </ul>
    </div>
    <div class="left-sidebar-user">
      <img src="{{currentUser.avatar}}" class="user-avatar">
      <a href="#">{{currentUser.username}}</a>
      <button type="button" class="left-sidebar-user-show-dropdown"><i class="fa fa-angle-up"></i></button>
    </div>
  </aside>
</template>

<template name="favoriteNotes">
  <div class="left-sidebar-notes aside-section">
    <p>FAVORITE</p>
    <ul>
      {{#each notes}}
      <li class="{{activeChannelClass}}">
        <i class="fa fa-star"></i>
        <a href="{{pathFor 'note' note=_id}}">{{title}}</a>
      </li>
      {{/each}}
    </ul>
  </div>
</template>

<template name="recentNotes">
  <div class="left-sidebar-notes aside-section">
    <p>RECENT</p>
    <ul>
      {{#each notes}}
      <li class="{{activeChannelClass}}">
        <i class="fa fa-star-o"></i>
        <a href="{{pathFor 'note' note=_id}}">{{title}}</a>
      </li>
      {{/each}}
    </ul>
  </div>
</template>
