.channel-header {
  display: block;
  z-index: 1;
  position: fixed;
  top: 0;
  height: $top;
  left: $sidebar-width;
  background: white;
  right: 0px;
  input.recipe-input {
    position: absolute;
    left: 15px;
    width: calc(100% - 180px);
    top: 10px;
    bottom: 10px;
    font-size: 1em;
  }

  i {
    margin: 15px;
    float: right;
    font-size: 24px;
    font-weight: 500;
  }

  .fa-plus, .fa-pencil {
    color: lighten(desaturate($primary, 30%), 30%);
    cursor: pointer;
    margin-left: 10px;
    transition: color 100ms ease-out;

    &:hover {
      color: $primary;
    }

  }
}
