.note-header {
  display: block;
  z-index: 1;
  position: absolute;
  top: 0;
  height: $top;
  left: 0;
  background: white;
  right: 0px;
  input.recipe-input {
    position: absolute;
    width: calc(100% - 140px);
    margin-left: $padding;
    top: 10px;
    bottom: 10px;
    font-size: 1em;
    border: solid 2px lightgray;
    border-radius: 4px;
    padding: 8px;
  }

  i {
    margin: 15px;
    float: right;
    font-size: 24px;
    font-weight: 500;
  }

  .fa-plus, .fa-search {
    color: #444;
    cursor: pointer;
    margin-left: 10px;
    transition: color 100ms ease-out;
  }
}

.fa:hover {
  color: $primary;
}

.fa-bars {
  float: left;
	cursor: pointer;
	margin-left: 7px;
	position: absolute;
	left: 0px;
}
