.search-header {
  display: block;
  z-index: 1;
  position: fixed;
  top: 0;
  height: $top;
  left: 0;
  background: white;
  right: 0px;
  input.recipe-input {
    position: absolute;
    right: 15px;
    width: calc(100% - 80px);
    top: 10px;
    bottom: 10px;
    font-size: 1em;
    border: solid 2px lightgray;
    border-radius: 4px;
    padding: 8px;
  }

  i {
    margin: 15px;
    float: left;
    font-size: 24px;
    font-weight: 500;
  }
}

.search-results .message-body {
  cursor: pointer;
}
