<template name="leftSidebar">
  <aside class="side-nav">
    <header class="header">
      <a href="{{pathFor 'home'}}">
        <span class="side-nav-title">
            Encyclopad
        </span>
      </a>
    </header>

    <div class="notes-container">
      {{> EasySearch.Input index=notesIndex timeout=200 attributes=inputAttributes}}

      {{#if searching}}
        <div class="side-nav-notes aside-section">
          <ul>
            {{#EasySearch.Each index=notesIndex}}
              <li class="{{activeChannelClass}}">
                <i class="fa fa-star"></i>
                <a href="{{pathFor 'note' note=__originalId}}">{{title}}</a>
              </li>
            {{/EasySearch.Each}}
          </ul>

          <!-- {{> EasySearch.LoadMore index=notesIndex}} -->

          {{#EasySearch.IfNoResults index=notesIndex}}
            <div class="no-results">No results found!</div>
          {{/EasySearch.IfNoResults}}
        </div>
      {{/if}}

      {{> favoriteNotes}}

      {{> recentNotes}}
    </div>

    <div class="side-nav-user-dropdown hidden">
      <div class="header-item">
        <hr/>
        <span class="header-item-content">For me</span>
      </div>
      <ul class="menu-items">
        <li class="menu-item"><a href="#" class="sign-out">Sign out</a></li>
      </ul>
      <div class="header-item">
        <hr/>
        <span class="header-item-content">Stats</span>
      </div>
      <ul class="menu-items">
        <li class="menu-item">{{currentUser.profile.wordCount}}</li>
      </ul>
    </div>
    <div class="side-nav-user">
      <img src="{{currentUser.avatar}}" class="user-avatar">
      <a href="#">{{currentUser.username}}</a>
      <button type="button" class="side-nav-user-show-dropdown"><i class="fa fa-angle-up"></i></button>
    </div>
  </aside>
</template>

<template name="favoriteNotes">
  <div class="side-nav-notes aside-section">
    <p>FAVORITE</p>
    <ul>
      <li class="{{activeChannelClass}}">
        <a href="{{pathFor 'home'}}">#home</a>
      </li>
      {{#each notes}}
      <li class="{{activeChannelClass}}">
        <i class="fa fa-star"></i>
        <a href="{{pathFor 'note' note=_id}}">{{title}}</a>
      </li>
      {{/each}}
    </ul>
  </div>
</template>

<template name="recentNotes">
  <div class="side-nav-notes aside-section">
    <p>RECENT</p>
    <ul>
      {{#each notes}}
      <li class="{{activeChannelClass}}">
        <i class="fa fa-star-o"></i>
        <a href="{{pathFor 'note' note=_id}}">{{title}}</a>
      </li>
      {{/each}}
    </ul>
  </div>
</template>
