<template name="landing">
  <!-- ******PROMO****** -->
  <section id="promo" class="promo section">
    <div class="container text-center">
      <h2 class="title">encyclo<span class="highlight">Pad</span></h2>
      <p class="intro">The easiest way to take notes.</p>
      <div class="quick-sign-up">
        {{> atForm state='signUp'}}
      </div>
    </div><!--//container-->
  </section><!--//promo-->

  <!-- ******ABOUT****** -->
  <section id="about" class="about section">
    <div class="container">
      <div class="row">
        <div class="item col-md-4 col-xs-12">
          <div class="icon-holder">
              <i class="fa fa-thumbs-o-up"></i>
          </div>
          <div class="content">
            <h3 class="sub-title">Your thoughts matter</h3>
            <p>
              Save your thoughts. Writing things down changes your thinking.
            </p>
          </div><!--//content-->
        </div><!--//item-->
          <div class="item col-md-4 col-xs-12">
            <div class="icon-holder">
                <i class="fa fa-search"></i>
            </div>
            <div class="content">
              <h3 class="sub-title">Tag and search</h3>
              <p>
                All your thought at your fingertips.
              </p>
            </div><!--//content-->
          </div><!--//item-->
          <div class="item col-md-4 col-xs-12">
            <div class="icon-holder">
                <i class="fa fa-check"></i>
            </div>
            <div class="content">
              <h3 class="sub-title">Get insights</h3>
              <p>
                See your writing statistics, favorite topics and get suggestions.
              </p>
            </div><!--//content-->
          </div><!--//item-->
      </div><!--//row-->
  </div><!--//container-->
</section><!--//about-->

<!-- ******CONTACT****** -->
<section id="contact" class="contact section has-pattern">
  <div class="container">
      <div class="contact-inner">
          <h2 class="title  text-center">Contact us:</h2>
          <div class="info text-center">
              <ul class="social-icons list-inline">
                  <li class="last"><a href="mailto: encyclopad.com@gmail.com"><i class="fa fa-envelope"></i></a></li>
              </ul>
          </div><!--//info-->
      </div><!--//contact-inner-->
    </div><!--//container-->
  </section><!--//contact-->

</template>
