<template name="landing">
  <div class="row promo">
    <div class="container-fluid">
      <div class="col-sm-8">
        <img src="/screen.png" alt="" class="img-responsive"/>
      </div>
      <div class="col-sm-4">
        <div class="text-center">
          <p class="intro">The easiest way to write your thoughts, take notes and save ideas.</p>
          <div class="quick-sign-up">
            {{> atForm state='signUp'}}
          </div>
        </div>
      </div>
    </div>
  </div>

</template>
