<template name="point">
  <li>
    <div class="message-body">
      {{#if isEditing}}
        {{> messageEditBox}}
      {{else}}
        {{#if section}}
          {{> section}}
        {{else}}
          <span class="modify">
            {{#if isOwner}}
            <a href="#" class="edit" title="Edit message"><i class="fa fa-pencil"></i></a>
            <a href="#" class="delete" title="Delete this message"><i class="fa fa-trash-o" data-action="remove-message"></i></a>
            {{/if}}
          </span>
          <div class="message">
            {{#markdown}}{{#linkify}}{{message}}{{/linkify}}{{/markdown}}
            <span class="cursor"></span>
            {{#if messageUrls}}
              {{#each messageUrls}}
                {{> oembed url=this}}
              {{/each}}
            {{/if}}
          </div>
        {{/if}}
      {{/if}}
    </div>
  </li>
</template>

<template name="messageEditBox">
  <div class="edit-box">
    <textarea rows="1" cols="90" class="form-message-input">{{removeTrailingSpaces message}}</textarea>
  </div>
</template>
