.side-nav {
  position: fixed;
  width: $sidebar-width;
  top:0;
  bottom: 0;
  background: $primary;
  box-sizing: border-box;
  z-index: 2;
  .header {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		z-index: 110;
		cursor: pointer;
		min-height: $top;
		height: $top;
    background-color: darken($primary, 5%);
    display: table;
    a {
      display: table-cell;
      vertical-align: middle;
      .side-nav-title {
        font-weight: 100;
        color: white;
        font-size: 1.7em;
        padding-left: 15px;
      }
    }
	}
  .aside-section {
    p {
      margin: 10px;
    }
  }
  label {
    text-transform: uppercase;
    font-size: 14px;
  }
  &, a {
    color: lighten($primary, 50%);
    text-decoration: none;
  }
  a {
    padding: 5px;
    display: block;
  }
  li a:before {
    color: lighten($primary, 10%);
  }
  li {
    padding: 0 $padding;
    .fa-star, .fa-star-o {
      display: none;
      float: right;
      padding-top: 5px;
      cursor: pointer;
    }
    &:hover {
      background-color: transparentize(#fff, 0.9);
      .fa-star, .fa-star-o {
        display: block;
        &:hover {
          color: white;
        }
      }
    }
  }
  .active {
    background: transparentize(#fff, 0.7);
    a {
      color: white;
      &:before {
        color: lighten($accent, 20%);
      }
    }
  }
  .user-circle-online {
    color: $online;
    font-size: 20px;
    position: relative;
    top: 2px;
  }
  .user-circle-offline {
    color: $offline;
    font-size: 20px;
    position: relative;
    top: 2px;
  }
  .user-circle-idle {
    color: $idle;
    font-size: 20px;
    position: relative;
    top: 2px;
  }

  &-notes {
    &-add-form {
      padding: $padding/2 0;
      input[type="text"] {
        background: none;
        border: solid 2px lighten($primary, 30%);
        border-radius: 4px;
        padding: 4px;
        box-sizing: border-box;
        color: lighten($primary, 40%);
        font-weight: 300;
        font-size: 15px;
        text-shadow: none;
        display: block;
        width: 100%;
        &:focus {
          outline: none;
        }
      }
    }
  }

  &-user {
    position: absolute;
    display: block;
    width: $sidebar-width;
    box-sizing: border-box;
    padding: $padding/2;
    margin: 0;
    bottom: 0;
    background: darken($primary, 5%);
    line-height: 35px;
    font-weight: 900;
    a {
      display: inline;
    }
    a.login-link-text {
      color: white;
      text-decoration: none !important;
    }

    &-show-dropdown {
      float: right;
      display: block;
      padding: 0;
      border: none;
      background: transparent;
      color: lighten($primary, 30%);
      cursor: pointer;
      outline: none;
      font-size: 20px;
      margin-top: 6px;
      &.visible {
        color: white;
      }
    }

  }
  .notes-container {
    margin-top: $top;
    height: calc(100% - 40px);
    overflow-y: scroll;
  }
  .note-search {
    color: $primary;
    margin-top: $padding;
    margin-left: $padding;
    margin-right: $padding;
    margin-bottom: 5px;
    background-color: whitesmoke;
    border: solid 1px lightgray;
    border-radius: 4px;
    padding: 4px;
    width: calc(100% - 2 * #{$padding});
    box-sizing: border-box;
  }
  .no-results {
    padding-left: $padding;
    padding-right: $padding;
  }
  .new-note-item {
    margin-top: 10px;
    margin-left: -$padding;
    .fa-plus {
      font-size: 0.9em;
    }
  }

  .menu-item {

    &:hover {
      background: #ddd;
    }

    &:active {
      background: #aaa;
    }

    & > a {
      color: $secondary;
    }

  }
}
